<!DOCTYPE html>
<html>

<head>

	<title> HOME PAGE</title>
	<h1>Welcome to the Hostel Management System!</h1>
	
	<style>
	p {
		background-color: white;
		margin-left:1000px;
		font-weight:bold;
		color:black;
	}
	
	</style>
	
	
	<style>
	
	body{
	background-color: lightblue;	
	}
	
	h1 {
	color:black;
	margin-left:200px;
	font-family: algerian;
	font-size-adjust:1.2e;
	
	
	}
	
	
	</style>
</head>


<body>

	
	
</body>


</html>