<!doctype html>

<html>
    <head>
		<title>HOSTEL MANAGEMENT</title>
<style type="text/css">
			body{
background:#e9e9e9;	
	font-family: lucida grande,tahoma,verdana,arial,sans-serif;
}
body p{
font-size:0.8em;
line-height:1.28em;
}

h2{
font-family: cooper black;
}

h3{
color:black;

}

p{
font-family: arial;	
margin-right:100px;
background:none;
color: black;
}

#wrapper{
width:1080px;
background-color:white;
margin:0 auto;
padding:10px;
border:5px solid #dedede;

}

#banner{
text-align: center;
border: 5px solid #dedede;
height: 320px;
background-color: powderblue;
font-family: copper black;
}
h1{
	font-size: 50px;
	margin-top: 100px;
}

#container{
float:left;
width:750px;
margin:20px 0 20px 0;
padding:10px;
}

footer{
clear: both;
width:auto;
height:70px;
border:3px solid #E3E3E3;
text-align:center;
color:black;
font-size:20px;
background-image: url(images/footer.png);
background-repeat:no-repeat;
background-size:cover;
}



form{
border:5px solid black;
margin-left:740px;
margin-right:10px;
padding:10px;
font-weight:bold;
}

input{
border:3px solid #666;
font-weight:bold;
}

</style>

</head>
	
<body class="homepage">
    	<div id="wrapper">
			<div id="banner">
			<h1>HOSTEL MANAGEMENT SYSTEM</h1>
			</div>
			
		
			<div id="container">
			<h2>Welcome to Hostel management System</h2>
			<h3>BENIFITS OF THIS SYSTEM:</h3>
			<p>Hostel management system simplified rooms allocation and made easy the complete management,disciplinary log maintenance,setting up fees as per the facilities in the hostel,
				integrating fees management module for automated fee calculation,provision for hostel vacating / change management etc. 
				The hostel management system makes use of one lone centralized database running from a central server. 
				The most important benefit of implementing such a system is that it brings in the transparency in the entire management which helps to induce discipline in the hostel and develops a trust between the students and the management.</p>
			</div>	
	

		
			<h2>MANAGER OPTION</h2>

    
			<form action ="" method = "POST">
				<% if user_signed_in? %>
					<li><%= link_to "MANAGE HOSTEL", after_signin_index_path %></li>
				<% end %>

				<% if !user_signed_in? %>
					<li><%= link_to "Login", new_user_session_path %></li>
				<% end %>
				
			</form>
	
			<footer>
				<h3>Copyright @2017.Team CSE,CU:All rights reserved.</h3>
			</Footer>
		</div>
		 
	</body>
</html>	
